{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>My-Post</title>
{% endblock %}



{% block content %}
{% for msg in messages %}
 <p style="color: red;">{{msg}}</p>
{% endfor %}

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Position</th>
        <th>Time</th>
        <th>Vacancy</th>
        <th>Salary</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>view-application</th>


      </tr>
    </thead>
    <tbody>
        {% for post in post %}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="text-muted mb-0">{{post.position}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="text-muted mb-0">{{post.type}}</p>
        </td>
        <td>
            <p class="text-muted mb-0">{{post.slot}}</p>
        </td>
        <td>{{post.salary}}</td>
        <td>
            <a href="{% url 'edit-post' post.id %}" class="nav-item nav-link active">EDIT</a>
        </td>
        <td>
            <a href="{% url 'delete' post.id %}" class="nav-item nav-link active">DELETE</a>
        </td>
        <td>
          <a href="{% url 'application' post.id%}" class="nav-item nav-link active">Application</a>
      </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
  
  

{% endblock %}